/* filename - ./src/App.css */
*{
  background-color: greenyellow;
}

.heading{
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  border: 3px solid blue;
  border-radius: 7px;
}
.input-box input {
  background-color: transparent;
  color: black;
  outline: none;
  width: 200px;
  height: 30px;
  font-size: 28px;
  text-align: center;
}
h2 {
  font-size: 28px;
  color: black;
}
input::placeholder {
  font-size: 28px;
  color: #433232;
}